.studentList {
    flex: 4;
}

.studentListEdit {
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    background-color: seagreen;
    color: seashell;
    cursor: pointer;
    margin-right: 1rem;
}

.studentListDelete {
    color: red;
    cursor: pointer;
}